[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.9.3"
bs4 = "==0.0.1"
cachetools = "==4.2.2"
certifi = "==2021.5.30"
cffi = "==1.14.6"
charset-normalizer = "==2.0.4"
cloudscraper = "==1.2.58"
cryptography = "==3.4.7"
decorator = "==5.0.9"
idna = "==3.2"
pycparser = "==2.20"
pyparsing = "==2.4.7"
python-telegram-bot = "==13.7"
pytz = "==2021.1"
requests = "==2.26.0"
requests-toolbelt = "==0.9.1"
singledispatch = "==3.6.2"
six = "==1.16.0"
soupsieve = "==2.2.1"
tornado = "==6.1"
tzlocal = "==2.1"
urllib3 = "==1.26.6"
APScheduler = "==3.7.0"
backports_abc = "==0.5"

[requires]
python_version = "3.6"

[dev-packages]
